.footer {
    background: #003555;
    color: whitesmoke;
    padding: 20px 0;
    margin: 0 auto;
    cursor: pointer;

    .footer_title {
        font-size: 25px;
        font-weight: 500;
    }

    .footer_item li,
    span {
        line-height: 40px;
        font-weight: 500;
        transform: translateY(0);
        transition: 0.3s;

        &:hover {
            color: #1d7a85;
            transform: translateY(-3px);
            transition: 0.3s;
        }
    }

    input {
        margin: 5px 0;
        border-radius: 5px;
        padding: 5px;
    }

    .footer_g1 {
        li {
            display: flex;
            justify-content: left;
            padding: 10px;
        }

        i {
            background: $green-1;
            color: white;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: center;

        a {
            color: white;
        }
    }
}

/* Responsive CSS */
@media (max-width: 1200px) {
    .footer_title {
        font-size: 20px;
    }

    .footer_item li,
    span {
        line-height: 35px;
    }

    .footer_g1 li {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .footer_title {
        font-size: 18px;
    }

    .footer_item li,
    span {
        line-height: 30px;
    }

    .footer_g1 li {
        padding: 5px;
    }

    .footer_g1 i {
        margin-bottom: 5px;
    }
}

@media (max-width: 479px) {
    .footer_title {
        font-size: 16px;
    }

    .footer_item li,
    span {
        font-size: 14px;
    }

    .footer_bottom {
        flex-direction: column;
    }
}

.ant-back-top-content {
    border-radius: 10px !important;
}
