.carousel_slider {
    .slider {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .slider img {
        max-width: 100vh;
        max-height: 100vh;
        height: auto;
        object-fit: cover;
        vertical-align: middle;
        border: 2px solid black;
    }
    .slick-next {
        color: #9e9e9e;
        font-size: 30px;
        right: 20px;
        z-index: 2;
        &:hover {
            color: #f77f64;
        }
        &::before {
            display: none;
        }
    }
    .slick-prev {
        color: #9e9e9e;
        font-size: 30px;
        left: 10px;
        z-index: 2;
        &:hover {
            color: #f77f64;
        }
        &::before {
            display: none;
        }
    }
    .ant-carousel .slick-dots li button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffb6ac;
        transition: background-color 0.5s ease;
    }

    .ant-carousel .slick-dots li.slick-active button {
        background-color: #dc583b; /* Màu đỏ cho dots khi active */
    }

    .slick-dots-bottom {
        bottom: 20px;
    }
}
